.vasar {
    border: 1px solid #DEDEDF;
    border-bottom: 2px solid #DEDEDF;
    box-shadow: 0px 0.1px 0px #DEDEDF;
    border-radius: 0 0 2.5px 2.5px;
    padding: 10px;
    background: white;
}

.box {
    border: 1px solid #DEDEDF;
    box-shadow: 0px 0.1px 0px #DEDEDF;
    border-radius: 0 0 2.5px 2.5px;
}


.navbar-static-top {
    margin-bottom: 19px;
}

.navbar {
    background: white;
    border-top: 5px solid #742474;
}

#navbar ul li {
    font-size: 1.09em;
}

.navbar-nav a {
    font-size: 16px;
}

#navbar ul li a:hover {
    background: #F2F2F2;
}

.document {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.document h2{
    padding: 0;margin: 0; font-size: 1.011em;
}


.document a {
    color: #FA6462;
    font-size: 18px;
}

.document a:link {
    text-decoration: none;
}

.document a:visited {
    text-decoration: none;
}

.category-name {
    border-bottom: 1px solid #503C71;
    padding-bottom: 15px;
}

.category-name h2 {
    padding: 0;
    margin: 0;
    font-size: 1.011em;
}

.list-header {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
}

.category-name a:hover {
    text-decoration: none;
}

.more a {
    font-size: 12px;
    color: black;
    display: block;
    line-height: 24px;
    color: #767676;
}

.more a:link,
a:visited {
    text-decoration: none;
}

.more a:hover {
    text-decoration: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list .document-tools {
    width: 24.501%;
    margin-bottom: 9.999px;
    overflow: hidden;
}

.list .fronts-tools {
    width: 32.80001%;
    margin-bottom: 9.999px;
    overflow: hidden;
}

.list .title {
    padding: 10px;
    background-color: #FBFBFD;
    border-bottom: 1px solid #B7B7CC;
}

.list .title a {
    color: #219865;
    display: block;
    text-decoration: none;
}

.list .title h3 {
    padding: 0px;
    margin: 0px;
    font-size: 1.055em;
}

.list .title a:hover {
    color: red;
    text-decoration: none;
}

.detail p {
    margin: 0px;
    padding: 8px;
    padding-bottom: none;
    font-size: 13px;
    /*word-spacing: 2em;*/
    background-color: #F5F5FB;
}

.book-title {
    padding: 9px;background: #FBFBFD;
}
.book-title a {
    color: #3F3F3F;
}
.book-title a:hover {
    text-decoration: none;
}

.t-hover-shadow {
    transition: transform .3s ease-in-out, box-shadow .1s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;
}

.t-hover-shadow:hover {
    border-radius: 5px;
    box-shadow: 1px 1px 0px 0px rgba(94, 93, 102, 0.08), 2px 2px 3px 0px rgba(94, 93, 102, 0.1);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    transform: translateY(-1px)
}

.list .usual-tools {
    width: 49.599%;
    margin-bottom: 9.999px;
    overflow: hidden;
}

.recommend {
    background: #fff;
    margin-bottom: 10px;
    border-top: 1.5px solid #742474;
    ransition: 0.999 all;
}

.recommend-fixed {
    transition: 0.999 all;
    position: fixed;
    top: 53px;
    width: 360px;
}

.list .books {
    width: 33%;
    margin-bottom: 10px;
}

.list .books .title {
    text-align: center;
}

.blog-header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #DEDEDF;

}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.b-list {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
}
.no {
    font-size: 30px;
    flex: 29.08px;
    color: rgba(0, 0, 0, .15) !important;
    fill: rgba(0, 0, 0, .15) !important;
    margin-right: 10px;
}
.desc-title {
    margin-top: 7px;
    font-size: 16px;
    margin-bottom: 5px;
}
.desc-title a {
    color: #292929;
}

.desc-title a:hover {
    text-decoration: none;
    color: #292929;
}


.recommend-tool {
    /*height: 500px;*/
    border: 1px solid #E3EAEF;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 50px 20px 50px;
    background: #fff;
}

#tool-title {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 18px;
}

.input-round {
    margin: 0 20px 20px 20px;
}

.submit .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.article-title {
    margin-left: 20px;
}

.article-title a {
    color: #545454;
    font-size: 18px;
}

.article-title H2 {
    font-size: 18px;
}

.article-title a:visited, a:hover, a:active {
    text-decoration: none;
}
